.player-info {
  background-color: #3a33d1;
  height: 200px;
}

.battlefield {
  background-color: #9da0a4;
  height: 200px;
}

.card {
  display: inline-block;
  width: 100px;
  background-color: white;
  border: 1px solid black;
}
